@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        -webkit-tap-highlight-color: transparent;
        font-family: 'IBM Plex Sans', sans-serif;
    }

    body, #root {
        width: 100vw;
        height: 100vh;
    }

    #root {
        display: grid;
        place-items: center;
    }
}

@layer components {
    .input-title {
        @apply font-bold leading-[150%] text-gray-400;
    }

    .input-text {
        @apply py-2 px-4 rounded-sm border border-gray-100 hover:border-purpleMid focus-visible:border-purpleMid focus-visible:outline-none placeholder:text-gray-200;
    }
}

@layer utilities {
    .additionalFont {
        font-family: 'Titillium Web', sans-serif;
    }
}