@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        -webkit-tap-highlight-color: transparent;
        font-family: 'IBM Plex Sans', sans-serif;
    }

    body, #root {
        width: 100vw;
        height: 100vh;
    }

    #root {
        display: grid;
        place-items: center;
    }

    @media (max-width: 430px) {
        :root {
            font-size: 90%;
        }
    }

    @media (max-width: 385px) {
        :root {
            font-size: 80%;
        }
    }

    @media (max-width: 340px) {
        :root {
            font-size: 70%;
        }
    }
}

@layer components {
    .input-title {
        @apply font-bold leading-[150%] text-gray-400;
    }

    .input-text {
        @apply py-2 px-4 rounded-sm border border-gray-100 hover:border-purpleMid focus-visible:border-purpleMid focus-visible:outline-none placeholder:text-gray-200;
    }

    .disabled {
        @apply bg-gray-100 text-gray-300;
    }

    .active {
        @apply bg-successColor text-white;
    }

    .select {
        @apply bg-purpleMid text-white;
    }
}

@layer utilities {
    .additionalFont {
        font-family: 'Titillium Web', sans-serif;
    }
}